
.posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}

.post_block {
    margin: 20px;
    transition: all 0.3s;
}

.post_block:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.post_image{
    width: 220px;
    height: 170px;
}

.pages{
    justify-content: center;
    margin-top: 30px;
    display: flex;
}
.page_button{
    width: 35px;
    height: 35px;
    background: #242b2e;
    border: 1px solid black;
    color: #fff;
    transition: all 0.3s;
    margin: 5px;
    border-radius: 35%;
}
.page_button:hover {
    transform: scale(1.1);
}